<nav>
  <ul>
    <li><a href="/">Домашняя</a></li>
    <li><a href="/posts">Рабочие</a></li>
    <li><a href="/add-post">Добавить работника</a></li>
    <li><a href="/contacts">Контакты</a></li>
  </ul>
</nav>
